[project]
	description = System z Hardware Control Point for xCAT management node
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zVMopenstack
[access "refs/for/refs/*"]
	read = group user/zVMopenstack
	push = group user/zVMopenstack
	label-Code-Review = -2..+2 group user/zVMopenstack
	label-Verified = -1..+1 group user/zVMopenstack
	rebase = group user/zVMopenstack
	removeReviewer = group user/zVMopenstack
	submit = group user/zVMopenstack
[access "refs/heads/*"]
	read = group user/zVMopenstack
	create = group user/zVMopenstack
	push = +force group user/zVMopenstack
	pushMerge = group user/zVMopenstack
[access "refs/tags/*"]
	push = +force group user/zVMopenstack
	pushTag = group user/zVMopenstack
	pushSignedTag = group user/zVMopenstack
